In [1]:
import pandas as pd
import numpy as np

In [2]:
df_1 = pd.read_csv("ASRTC_bus_details.csv")
df_2 = pd.read_csv('JKRTC_bus_details.csv')
df_3 = pd.read_csv('KAAC_bus_details.csv')
df_4 = pd.read_csv('KTCL_bus_details.csv')
df_5 = pd.read_csv('NBSTC_bus_details.csv')
df_6 = pd.read_csv('PEPSU_bus_details.csv')
df_7 = pd.read_csv('RSRTC_bus_details.csv')
df_8 = pd.read_csv('SNT_bus_details.csv')
df_9 = pd.read_csv('WBSTC_bus_details.csv')
df_10 = pd.read_csv('WBTC_bus_details.csv')

final_df = pd.concat([df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,df_10])

final_df.head(20)

,Route_Name,Route_Link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Chartered Bus - ASTC,Volvo AC Seater Pushback 2+2,13:00,04h 00m,17:00,4.6,INR 397.08,6 Seats available
1,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...,BARBIE TRAVELS,A/C Seater Push Back (2+2),13:10,04h 40m,17:50,3.0,INR 350,33 Seats available
2,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Chartered Bus - ASTC,Volvo AC Seater Pushback 2+2,14:30,04h 00m,18:30,4.6,INR 432.06,26 Seats available
3,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Chartered Bus - ASTC,Volvo AC Seater Pushback 2+2,15:30,03h 45m,19:15,4.6,INR 397.08,14 Seats available
4,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...,BLUE HILL TRAVELS INDIA LIMITED,NON A/C Seater Semi Sleeper (2+1),21:15,05h 45m,03:00,3.4,INR 450,15 Seats available
5,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...,BLUE HILL TRAVELS INDIA LIMITED,NON A/C Seater Semi Sleeper (2+1),21:45,05h 30m,03:15,4.0,450,16 Seats available
6,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Maya Travels,Tata A/C Seater (2+2),13:00,04h 30m,17:30,1.9,INR 300,3 Seats available
7,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...,DESTINY TRAVELS,NON A/C Seater (2+1),23:00,05h 15m,04:15,1.6,389,22 Seats available
8,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Shopuris Travels,Non AC Seater (2+1),23:00,05h 00m,04:00,2.7,INR 600,31 Seats available
9,Guwahati to Tezpur,https://www.redbus.in/bus-tickets/guwahati-to-...,Assam State Transport Corporation (ASTC) - 157880,A/C Seater (2+1),13:45,04h 45m,18:30,3.9,INR 298,20 Seats available
10,Guwahati to Tezpur,https://www.redbus.in/bus-tickets/guwahati-to-...,Orient Transline,A/C Seater (2+1),12:45,04h 25m,17:10,4.3,INR 380.95,9 Seats available
11,Guwahati to Tezpur,https://www.redbus.in/bus-tickets/guwahati-to-...,Mahi Travels(Under ASTC),A/C Seater (2+2),14:15,03h 35m,17:50,4.3,377,11 Seats available
12,Guwahati to Tezpur,https://www.redbus.in/bus-tickets/guwahati-to-...,Mahalaxmi Travels,A/C Seater (2+2),14:38,03h 37m,18:15,3.8,INR 270,39 Seats available
13,Guwahati to Tezpur,https://www.redbus.in/bus-tickets/guwahati-to-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Nagaon (Assam) to Guwahati,https://www.redbus.in/bus-tickets/nagaon-to-gu...,Assam State Transport Corporation (ASTC) - 154175,NON A/C Seater Push Back (2+1),12:30,03h 30m,16:00,3.8,INR 164,8 Seats available
15,Nagaon (Assam) to Guwahati,https://www.redbus.in/bus-tickets/nagaon-to-gu...,TRINAYAN TRANSPORT (Under ASTC),A/C Seater (2+1),12:15,02h 15m,14:30,3.7,420,9 Seats available
16,Nagaon (Assam) to Guwahati,https://www.redbus.in/bus-tickets/nagaon-to-gu...,Kareng Travels,Bharat Benz A/C Seater (2+1),13:20,02h 40m,16:00,4.1,INR 300,1 Seat available
17,Nagaon (Assam) to Guwahati,https://www.redbus.in/bus-tickets/nagaon-to-gu...,Baikuntha Transport Service,NaN,14:00,03h 15m,17:15,3.5,400,17 Seats available
18,Nagaon (Assam) to Guwahati,https://www.redbus.in/bus-tickets/nagaon-to-gu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Guwahati to Nagaon (Assam),https://www.redbus.in/bus-tickets/guwahati-to-...,Orient Transline,A/C Seater (2+1),12:45,03h 00m,15:45,4.2,INR 333.33,9 Seats available

In [3]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3200 entries, 0 to 99
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_Name         3200 non-null   object
 1   Route_Link         3200 non-null   object
 2   Bus_Name           3130 non-null   object
 3   Bus_Type           3117 non-null   object
 4   Departing_Time     3130 non-null   object
 5   Duration           3130 non-null   object
 6   Reaching_Time      3130 non-null   object
 7   Star_Rating        3133 non-null   float64
 8   Price              3130 non-null   object
 9   Seat_Availability  3124 non-null   object
dtypes: float64(1), object(9)
memory usage: 275.0+ KB

In [4]:
final_df["Star_Rating"].unique()

array([4.6, 3. , 3.4, 4. , 1.9, 1.6, 2.7, 3.9, 4.3, 3.8, nan, 3.7, 4.1,
       3.5, 4.2, 2. , 2.3, 2.2, 3.1, 5. , 2.8, 1.8, 3.6, 3.2, 2.1, 4.4,
       0. , 1.5, 4.8, 4.5, 2.4, 2.5, 3.3, 2.6, 1.3, 2.9, 1.7, 4.7, 4.9,
       1.4, 1.2, 1. , 1.1])

In [5]:
final_df["Price"] = final_df["Price"].str.replace("INR ","")
final_df["Price"] = final_df["Price"].astype(float)
final_df["Price"].fillna(0)

0      397.08
1      350.00
2      432.06
3      397.08
4      450.00
       ...
95    1599.00
96    1500.00
97     700.00
98     977.00
99    2187.00
Name: Price, Length: 3200, dtype: float64

In [6]:
final_df["Star_Rating"].fillna(0, inplace=True)

In [7]:
final_df.dropna(inplace=True)

In [8]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3117 entries, 0 to 99
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_Name         3117 non-null   object
 1   Route_Link         3117 non-null   object
 2   Bus_Name           3117 non-null   object
 3   Bus_Type           3117 non-null   object
 4   Departing_Time     3117 non-null   object
 5   Duration           3117 non-null   object
 6   Reaching_Time      3117 non-null   object
 7   Star_Rating        3117 non-null   float64
 8   Price              3117 non-null   float64
 9   Seat_Availability  3117 non-null   object
dtypes: float64(2), object(8)
memory usage: 267.9+ KB

In [9]:
path = "C:/Users/MANAV/OneDrive/Desktop/GUVI/Project1_Redbus/final_Busdetails_df.csv"
final_df.to_csv(path, index=True)

In [10]:
final_df.fillna('', inplace=True)  # Replace NaN with empty strings

In [11]:
final_df = final_df.where(pd.notnull(final_df), None)

In [12]:
print(final_df.isnull().sum())

Route_Name           0
Route_Link           0
Bus_Name             0
Bus_Type             0
Departing_Time       0
Duration             0
Reaching_Time        0
Star_Rating          0
Price                0
Seat_Availability    0
dtype: int64

## CREATE A MYSQL DATABASE

In [13]:
#sql connection
# import mysql.connector
import sqlite3

# SQL connection
# conn = mysql.connector.connect(
#     host="localhost",
#     user="root",
#     password="",
#     database = "redbus_database"
# )
# my_cursor = conn.cursor()
# my_cursor.execute("CREATE DATABASE IF NOT EXISTS redbus_database")
# print("Database created successfully!")

conn = sqlite3.connect("redbus_database.db")

In [14]:
# Create the table
conn.execute('''
    CREATE TABLE IF NOT EXISTS bus_details(
        Route_Name VARCHAR(225) NULL,
        Route_Link VARCHAR(225) NULL,
        Bus_Name VARCHAR(225) NOT NULL,
        Bus_Type VARCHAR(225) NOT NULL,
        Departing_Time VARCHAR(225) NOT NULL,
        Duration VARCHAR(225) NOT NULL,
        Reaching_Time VARCHAR(225) NOT NULL,
        Star_Rating	Float NULL,
        Price Float NULL,
        Seat_Availability  VARCHAR(225) NOT NULL
        
    )
''')

# conn.close()
print("Table Created Successfully")

Table Created Successfully

In [15]:
# Insert the queries

insert_query = ''' INSERT INTO bus_details( 
                    Route_Name,	
                    Route_Link,                  
                    Bus_Name,	
                    Bus_Type,
                    Departing_Time,
                    Duration,	
                    Reaching_Time,	
                    Star_Rating,
                    Price,	
                    Seat_Availability
                    ) 
                    VALUES(?,?,?,?,?,?,?,?,?,?) '''

data = final_df.values.tolist()

# my_cursor.executemany(insert_query, data)
conn.executemany(insert_query, data)

conn.commit()

print("Values inserted Successfully")
# conn.close()

Values inserted Successfully