In [1]:
import pandas as pd
import numpy as np

In [3]:
df_1 = pd.read_csv("GSRTC_bus_details.csv")
df_2 = pd.read_csv('JKRTC_bus_details.csv')
df_3 = pd.read_csv('ASRTC_bus_details.csv')
df_4 = pd.read_csv('KTCL_bus_details.csv')
df_5 = pd.read_csv('NBSTC_bus_details.csv')
df_6 = pd.read_csv('PEPSU_bus_details.csv')
df_7 = pd.read_csv('RSRTC_bus_details.csv')
df_8 = pd.read_csv('SNT_bus_details.csv')
df_9 = pd.read_csv('WBSTC_bus_details.csv')
df_10 = pd.read_csv('WBTC_bus_details.csv')

final_df = pd.concat([df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,df_10])

final_df.head(20)

,Route_Name,Route_Link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,Ahmedabad to Ganganagar (Sri Ganganagar),https://www.redbus.in/bus-tickets/ahmedabad-to...,Royal Karnavati Travels,A/C Seater / Sleeper (2+1),15:15,19h 15m,10:30,3.8,INR 1099,24 Seats available
1,Sirohi (Rajasthan) to Bikaner,https://www.redbus.in/bus-tickets/sirohi-to-bi...,RSRTC - 191942,Express Non AC Seater 2+3,00:30,10h 30m,11:00,3.7,INR 474,42 Seats available
2,Sirohi (Rajasthan) to Bikaner,https://www.redbus.in/bus-tickets/sirohi-to-bi...,Royal Karnavati Travels,A/C Seater / Sleeper (2+1),21:00,07h 35m,04:35,4.0,569,26 Seats available
3,Sirohi (Rajasthan) to Bikaner,https://www.redbus.in/bus-tickets/sirohi-to-bi...,Royal Karnavati (TNB Travels),A/C Seater / Sleeper (2+1),23:30,08h 15m,07:45,5.0,664,26 Seats available
4,Sirohi (Rajasthan) to Bikaner,https://www.redbus.in/bus-tickets/sirohi-to-bi...,Mahaveer Travel Company,NON AC Seater / Sleeper 2+1,23:00,08h 00m,07:00,1.7,INR 600,22 Seats available
5,Sirohi (Rajasthan) to Bikaner,https://www.redbus.in/bus-tickets/sirohi-to-bi...,Rytham Tours And Travels,NON A/C Sleeper (2+1),23:35,07h 00m,06:35,1.9,INR 700,32 Seats available
6,Sirohi (Rajasthan) to Bikaner,https://www.redbus.in/bus-tickets/sirohi-to-bi...,Milan Travels,A/C Seater / Sleeper (2+1),23:43,07h 17m,07:00,4.0,INR 762,8 Seats available
7,Sirohi (Rajasthan) to Bikaner,https://www.redbus.in/bus-tickets/sirohi-to-bi...,ShrinathÂ® Travel Agency Pvt. Ltd.,AC Sleeper (2+1),00:15,08h 40m,08:55,3.4,INR 1200,18 Seats available
8,Sirohi (Rajasthan) to Bikaner,https://www.redbus.in/bus-tickets/sirohi-to-bi...,Shree Marudhar Travels,A/C Sleeper (2+1),01:00,08h 45m,09:45,4.0,1260,36 Seats available
9,Sirohi (Rajasthan) to Bikaner,https://www.redbus.in/bus-tickets/sirohi-to-bi...,Parshwanath Travel Pvt. Ltd,Bharat Benz A/C Sleeper (2+1),23:55,07h 35m,07:30,3.9,814,2 Seats available
10,Sirohi (Rajasthan) to Bikaner,https://www.redbus.in/bus-tickets/sirohi-to-bi...,RMB Travel Agency,NON A/C Seater/ Sleeper (2+1),23:39,09h 50m,09:29,2.2,INR 500,28 Seats available
11,Ahmedabad to Bikaner,https://www.redbus.in/bus-tickets/ahmedabad-to...,RSRTC - 191942,Express Non AC Seater 2+3,17:30,17h 30m,11:00,3.7,INR 733,40 Seats available
12,Ahmedabad to Bikaner,https://www.redbus.in/bus-tickets/ahmedabad-to...,Milan Travels,A/C Seater / Sleeper (2+1),19:00,12h 00m,07:00,4.5,INR 762,8 Seats available
13,Ahmedabad to Bikaner,https://www.redbus.in/bus-tickets/ahmedabad-to...,Royal Karnavati (TNB Travels),A/C Seater / Sleeper (2+1),19:15,12h 30m,07:45,4.5,724,20 Seats available
14,Ahmedabad to Bikaner,https://www.redbus.in/bus-tickets/ahmedabad-to...,Parshwanath Travel Pvt. Ltd,Bharat Benz A/C Sleeper (2+1),19:00,12h 30m,07:30,4.2,814,2 Seats available
15,Ahmedabad to Bikaner,https://www.redbus.in/bus-tickets/ahmedabad-to...,Royal Karnavati Travels,A/C Seater / Sleeper (2+1),15:15,13h 20m,04:35,4.0,569,24 Seats available
16,Ahmedabad to Bikaner,https://www.redbus.in/bus-tickets/ahmedabad-to...,Mahaveer Travel Company,NON AC Seater / Sleeper 2+1,17:00,14h 00m,07:00,4.0,INR 600,20 Seats available
17,Ahmedabad to Bikaner,https://www.redbus.in/bus-tickets/ahmedabad-to...,ShrinathÂ® Travel Agency Pvt. Ltd.,A/C Seater / Sleeper (2+1),20:15,13h 15m,09:30,2.1,INR 476,22 Seats available
18,Ahmedabad to Bikaner,https://www.redbus.in/bus-tickets/ahmedabad-to...,ShrinathÂ® Travel Agency Pvt. Ltd.,AC Sleeper (2+1),18:00,13h 40m,07:40,1.8,INR 800,27 Seats available
19,Ahmedabad to Bikaner,https://www.redbus.in/bus-tickets/ahmedabad-to...,Jain Travels (SRT),A/C Sleeper (2+1),19:45,13h 10m,08:55,2.1,INR 1400,32 Seats available

In [4]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4578 entries, 0 to 99
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_Name         4578 non-null   object
 1   Route_Link         4578 non-null   object
 2   Bus_Name           4508 non-null   object
 3   Bus_Type           4495 non-null   object
 4   Departing_Time     4508 non-null   object
 5   Duration           4508 non-null   object
 6   Reaching_Time      4508 non-null   object
 7   Star_Rating        4511 non-null   float64
 8   Price              4508 non-null   object
 9   Seat_Availability  4502 non-null   object
dtypes: float64(1), object(9)
memory usage: 393.4+ KB

In [5]:
final_df["Star_Rating"].unique()

array([3.8, 3.7, 4. , 5. , 1.7, 1.9, 3.4, 3.9, 2.2, 4.5, 4.2, 2.1, 1.8,
       1.4, 3.2, 2.3, 2.5, 2. , 2.9, 4.1, 3.6, 4.4, 4.7, 4.3, 3.3, 2.6,
       3.1, 3. , 2.7, 3.5, 0. , 2.8, 4.9, 4.8, 1. , 1.2, 2.4, 4.6, 1.5,
       1.6, 1.3, nan, 1.1])

In [6]:
final_df["Price"] = final_df["Price"].str.replace("INR ","")
final_df["Price"] = final_df["Price"].astype(float)
final_df["Price"].fillna(0)

0     1099.0
1      474.0
2      569.0
3      664.0
4      600.0
       ...
95    1599.0
96    1500.0
97     700.0
98     977.0
99    2187.0
Name: Price, Length: 4578, dtype: float64

In [7]:
final_df["Star_Rating"].fillna(0, inplace=True)

In [8]:
final_df.dropna(inplace=True)

In [9]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4495 entries, 0 to 99
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_Name         4495 non-null   object
 1   Route_Link         4495 non-null   object
 2   Bus_Name           4495 non-null   object
 3   Bus_Type           4495 non-null   object
 4   Departing_Time     4495 non-null   object
 5   Duration           4495 non-null   object
 6   Reaching_Time      4495 non-null   object
 7   Star_Rating        4495 non-null   float64
 8   Price              4495 non-null   float64
 9   Seat_Availability  4495 non-null   object
dtypes: float64(2), object(8)
memory usage: 386.3+ KB

In [10]:
path = "C:/Users/MANAV/OneDrive/Desktop/GUVI/Project1_Redbus/final_Busdetails_df.csv"
final_df.to_csv(path, index=True)

In [11]:
final_df.fillna('', inplace=True)  # Replace NaN with empty strings

In [12]:
final_df = final_df.where(pd.notnull(final_df), None)

In [13]:
print(final_df.isnull().sum())

Route_Name           0
Route_Link           0
Bus_Name             0
Bus_Type             0
Departing_Time       0
Duration             0
Reaching_Time        0
Star_Rating          0
Price                0
Seat_Availability    0
dtype: int64

## CREATE A SQLITE3 DATABASE

In [14]:
#sql connection
# import mysql.connector
import sqlite3

# SQL connection
# conn = mysql.connector.connect(
#     host="localhost",
#     user="root",
#     password="",
#     database = "redbus_database"
# )
# my_cursor = conn.cursor()
# my_cursor.execute("CREATE DATABASE IF NOT EXISTS redbus_database")
# print("Database created successfully!")

conn = sqlite3.connect("redbus_database.db")

In [15]:
# Create the table
conn.execute('''
    CREATE TABLE IF NOT EXISTS bus_details(
        Route_Name VARCHAR(225) NULL,
        Route_Link VARCHAR(225) NULL,
        Bus_Name VARCHAR(225) NOT NULL,
        Bus_Type VARCHAR(225) NOT NULL,
        Departing_Time VARCHAR(225) NOT NULL,
        Duration VARCHAR(225) NOT NULL,
        Reaching_Time VARCHAR(225) NOT NULL,
        Star_Rating	Float NULL,
        Price Float NULL,
        Seat_Availability  VARCHAR(225) NOT NULL
        
    )
''')

# conn.close()
print("Table Created Successfully")

Table Created Successfully

In [16]:
# Insert the queries

insert_query = ''' INSERT INTO bus_details( 
                    Route_Name,	
                    Route_Link,                  
                    Bus_Name,	
                    Bus_Type,
                    Departing_Time,
                    Duration,	
                    Reaching_Time,	
                    Star_Rating,
                    Price,	
                    Seat_Availability
                    ) 
                    VALUES(?,?,?,?,?,?,?,?,?,?) '''

data = final_df.values.tolist()

# my_cursor.executemany(insert_query, data)
conn.executemany(insert_query, data)

conn.commit()

print("Values inserted Successfully")
# conn.close()

Values inserted Successfully